/* Set the font for the whole page */
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: black; 
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.about-us-btn {
    background-color: #6699CC; /* Change to your preferred color */
    color: white; /* Text color */
    padding: 10px 20px; /* Add padding to the button for better appearance */
    margin-left: 30px; /* Adds space between the button and the left edge */
    font-size: 20px; /* Adjust text size */
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    display: inline-block; /* Ensures proper spacing */
    text-align: center;
    transition: background-color 0.3s ease;
}

.about-us-btn:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: #f4f4f4; 
    color: black; 
    text-align: left;
}

/* Header styles */
header {
    background-color: #A9A9A9 ;
    color: white;  
    text-align: center;
    padding: 20px;
}

/* Heading 1 style */
h1 {
    font-size: 36px;  
    color: #2d3b55;  
    text-align: center;
}

/* Heading 2 style */
h2 {
    font-size: 24px; /* Medium font size for the subheading */
    color: #2d3b55;  
    text-align: center;
}

/* Heading 3 style */
h3 {
    font-size: 20px; /* Slightly smaller font size
    color: #2d3b55; 
    text-align: center;
}
