body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: #f4f4f4; 
    color: black; 
    text-align: center;
}

.button-container {
/*   display: flex;
   justify-content: space-between; */
    margin-left: 20px;
    margin-right: 20px; 
    padding: 10px;  
    font-size: 20px;  
    border: none;
    border-radius: 8px;  
    cursor: pointer;
    display: inline-block;  
}

div {
  width: 100%;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: black; 
    text-align: left;
}

/* Header styles */
header {
    background-color: #A9A9A9 ;
    color: white;  
    text-align: center;
    padding: 20px;
}

/* Heading 1 style */
h1 {
    font-size: 24px;  
    color: #2d3b55;  
    text-align: center;
}

/* Heading 2 style */
h2 {
    font-size: 22px; 
    color: #2d3b55;  
    text-align: center;
}

/* Heading 3 style */
h3 {
    font-size: 20px; /* Slightly smaller font size
    color: #2d3b55; 
    text-align: center;
}
